{% extends "base_template.html" %}

{% block content %}
{% load guest_user %}
{% if user|is_guest_user %}
    <div id='guest_user_bar'>
        Вы вошли как гость. Для сохранения сборки необходимо<span>&nbsp;</span><a href="{% url "guest_to_user" %}"> зарегистрироваться</a>.
    </div>
{% endif %}
<div id="configurator_content">
    <div id="configurator_components_panel">
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.processor %}
                <a href="{% url 'select_processor' %}" class="assembler_button link centered">Процессор</a>
            {% else %}
                <div class="assembler_selected_container">
                    <a href="{% url 'select_processor' %}" class="component_selected_type link centered">Процессор</a>
                    <div class="component_selected_name centered" id="processor_name">{{ current_computer.processor.manufacturer.name }} {{ current_computer.processor.series }} {{ current_computer.processor.model }}</div>
                </div>
            {% endif %}
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.motherboard %}
                <a href="{% url 'select_motherboard' %}" class="assembler_button link centered">Материнская плата</a>
            {% else %}
                <div class="assembler_selected_container">
                    <a href="{% url 'select_motherboard' %}" class="component_selected_type link centered">Материнская плата</a>
                    <div class="component_selected_name centered" id="motherboard_name">{{ current_computer.motherboard.manufacturer.name }} {{ current_computer.motherboard.model }}</div>
                </div>
            {% endif %}
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.videocard %}
                <a href="{% url 'select_videocard' %}" class="assembler_button link centered">Видеокарта</a>
            {% else %}
                <div class="assembler_selected_container">
                    <a href="{% url 'select_videocard' %}" class="component_selected_type link centered">Видеокарта</a>
                    <div class="component_selected_name centered" id="videocard_name">{{ current_computer.videocard.manufacturer.name }} {{ current_computer.videocard.model }}</div>
                </div>
            {% endif %}
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.memory %}
                <a href="{% url 'select_memory' %}" class="assembler_button link centered">Оперативная память</a>
            {% else %}
                <div class="assembler_selected_container">
                    <div style="width: 100%; height: 30px; display: flex; flex-direction: row;">
                        <div style="width: calc(100% - 90px); height: 100%;">
                            <form method="GET" action="{% url 'select_memory' %}">
                                {% csrf_token %}
                                <input type="hidden" name="side" value="{{ side }}">
                                <input type="submit" value="Оперативная память" class="component_selected_type link centered" style="width: 100%; border: none;">
                            </form>
                        </div>
                        {% if current_computer.memory_cnt > 1 %}
                            <form method="POST" action="{% url 'dec_memory' %}">
                                {% csrf_token %}
                                <input type="submit" value="-" class="link centered" style="width: 30px; height: 30px; border: none;">
                            </form>
                        {% else %}
                            <form method="POST" action="{% url 'del_memory' %}">
                                {% csrf_token %}
                                <input type="submit" value="D" class="link centered" style="width: 30px; height: 30px; border: none;">
                            </form>
                        {% endif %}
                        <div style="width: 30px; height: 30px; background-color: white; font-size: 14px;" class="centered">
                            {{ current_computer.memory_cnt }}
                        </div>
                        <form method="POST" action="{% url 'inc_memory' %}">
                            {% csrf_token %}
                            <input type="submit" value="+" class="link centered" style="width: 30px; height: 30px; border: none;">
                        </form>
                    </div>
                    <div class="component_selected_name centered" id="memory_name">{{ current_computer.memory.manufacturer.name }} {{ current_computer.memory.model }}</div>
                </div>
            {% endif %}
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.cooler %}
                <a href="{% url 'select_cooler' %}" class="assembler_button link centered">Процессорный кулер</a>
            {% else %}
                <div class="assembler_selected_container">
                    <a href="{% url 'select_cooler' %}" class="component_selected_type link centered">Процессорный кулер</a>
                    <div class="component_selected_name centered" id="cooler_name">{{ current_computer.cooler.manufacturer.name }} {{ current_computer.cooler.model }}</div>
                </div>
            {% endif %}
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.case %}
                <a href="{% url 'select_case' %}" class="assembler_button link centered">Корпус</a>
            {% else %}
                <div class="assembler_selected_container" style="width: calc(100% - 70px);">
                    <a href="{% url 'select_case' %}" class="component_selected_type link centered">Корпус</a>
                    <div style="height: 40px; width: 100%; display: flex; flex-direction: row;">
                        <div class="component_selected_name centered" id="case_name" style="width: calc(100% - 40px);">{{ current_computer.case.manufacturer.name }} {{ current_computer.case.model }}</div>
                        <a class="disc_selected_delete_button link centered" id="casecooler_button">^</a>
                    </div>
                </div>
            {% endif %}
            <div id="casecooler_panel" style="display: none; bottom: 70px; left: 0px; position: absolute; width: 100%; height: 300px; background-color: green; z-index: 5; flex-direction: column; justify-content: space-evenly;">
                {% for side in sides %}
                    <div class="assembler_button_container centered" style="width: 100%;">
                        <div class="assembler_button_icon"></div>
                        {% load custom_filters %}
                        {% if current_computer.casecoolers|get_casecooler_id:side == 0 %}
                            <div style="width: calc(100% - 70px); height: 100%;">
                                <form method="GET" action="{% url 'select_casecooler' %}" style="height: 100%;">
                                    {% csrf_token %}
                                    <input type="hidden" name="side" value="{{ side }}">
                                    <input type="submit" value="{{ side }}" class="assembler_button link centered" style="width: 100%; border: none;">
                                </form>
                            </div>
                        {% else %}
                            <div class="assembler_selected_container">
                                <div style="width: 100%; height: 30px; display: flex; flex-direction: row;">
                                    <div style="width: calc(100% - 90px); height: 100%;">
                                        <form method="GET" action="{% url 'select_casecooler' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="side" value="{{ side }}">
                                            <input type="submit" value="{{ side }}" class="component_selected_type link centered" style="width: 100%; border: none;">
                                        </form>
                                    </div>
                                    {% if current_computer.casecoolers|get_casecooler_count:side > 1 %}
                                        <form method="POST" action="{% url 'dec_casecooler' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="side" value="{{ side }}">
                                            <input type="submit" value="-" class="link centered" style="width: 30px; height: 30px; border: none;">
                                        </form>
                                    {% else %}
                                        <form method="POST" action="{% url 'del_casecooler' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="side" value="{{ side }}">
                                            <input type="submit" value="D" class="link centered" style="width: 30px; height: 30px; border: none;">
                                        </form>
                                    {% endif %}
                                    <div style="width: 30px; height: 30px; background-color: white; font-size: 14px;" class="centered">
                                        {{ current_computer.casecoolers|get_casecooler_count:side }}
                                    </div>
                                    <form method="POST" action="{% url 'inc_casecooler' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="side" value="{{ side }}">
                                        <input type="submit" value="+" class="link centered" style="width: 30px; height: 30px; border: none;">
                                    </form>
                                </div>
                                <div class="component_selected_name centered">{{ installed_casecoolers|get_casecooler_name:side }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.discs %}
                <a href="{% url 'select_disc' %}" class="assembler_button link centered">Накопитель</a>
            {% else %}
                <div class="assembler_selected_container">
                    <a href="{% url 'select_disc' %}" class="component_selected_type link centered">Накопитель</a>
                    <div style="width: 100%; height: 40px; overflow-y: auto;">
                        {% for disc in discs %}
                            <div style="height: 100%; width: 100%; display: flex; flex-direction: row;">
                                <div class="disc_selected_name centered">{{ disc.manufacturer.name }} {{ disc.model }}</div>
                                <form method="POST" action="{% url 'delete_disc' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ disc.id }}">
                                    <input type="submit" value="-" class="disc_selected_delete_button link centered">
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="assembler_button_container centered">
            <div class="assembler_button_icon"></div>
            {% if not current_computer.powersupply %}
                <a href="{% url 'select_powersupply' %}" class="assembler_button link centered">Блок питания</a>
            {% else %}
                <div class="assembler_selected_container">
                    <a href="{% url 'select_powersupply' %}" class="component_selected_type link centered">Блок питания</a>
                    <div class="component_selected_name centered" id="powersupply_name">{{ current_computer.powersupply.manufacturer.name }} {{ current_computer.powersupply.model }}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="field">
        <div id="processor_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.processor %}
                {{ current_computer.processor.socket }}
            {% endif %}
        </div>
        <div id="motherboard_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.motherboard %}
                {{ current_computer.motherboard.socket }}
            {% endif %}
        </div>
        <div id="videocard_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.videocard %}
                {{ current_computer.videocard.mem_volume }}
            {% endif %}
        </div>
        <div id="memory_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.memory %}
                {{ current_computer.memory.volume }}
            {% endif %}
        </div>
        <div id="cooler_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.cooler %}
                {{ current_computer.cooler.power }}
            {% endif %}
        </div>
        <div id="case_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.case %}
                {{ current_computer.case.typesize }}
            {% endif %}
        </div>
        <div id="discs_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if discs|array_len > 0 %}
                {{ discs }}
            {% endif %}
        </div>
        <div id="powersupply_info" style="display: none; top: 0px; left: 0px; position: absolute; width: 100%; height: 100%; background-color: brown; z-index: 5; flex-direction: column; justify-content: center;">
            {% if current_computer.powersupply %}
                {{ current_computer.powersupply.power }}
            {% endif %}
        </div>
        <div style="display: flex; align-items: center; justify-content: center; padding: 20px; background-color: purple;">
            <div style="background-color: blue; contain: layout; display: inline-block;">
                {% load static %}
                <img src="{% static 'images/comp.png' %}" alt="PC" style="width:400px;height:auto;" >
                <div class="component_dark" id="motherboard">
                    <button class="component_add_button_dark" id="motherboard_button">+</button>
                </div>
            </div>
        </div>
    </div>
    <div id="configurator_info_panel">
        {{ valid }}
        {% for error in errors %}
            <div>
                {{ error }}
            </div>
        {% endfor %}
    </div>
</div>
<div>
    Тут когда-нибудь будет шедевр
</div>
{% load static %}
<script src="{% static 'javascript/assemble.js' %}"></script>
{% endblock %}