{% extends "base_template.html" %}

{% block content %}
    <div style="display:flex; align-items:center; height: calc(100vh - 90px); width: 100%;">
        <div style="height: 100%; width: 40%;">
            {% load custom_filters %}
            <div style="display: flex; flex-direction: column; align-items: center; height: 100%; width: 100%; border-left: 1px solid black; border-right: 1px solid black;">
                <div class="centered" style="position: relative; width: 100%; height: calc(100vh - 68px - 94px - 465px); padding-top: 20px;">
                    <img src="{{ current_computer.case.image.url }}" style="max-width: 80%; max-height: 100%; padding: 10px;">
                    <form method="GET" action="{% url 'get_info' %}" style="position: absolute; top: 10px; left: 10px; width: 60px; height: 60px;">
                        {% csrf_token %}
                        <input type="submit" value="" class="back_button">
                    </form>
                </div>
                <div style="width: 100%; height: 68px; display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin-top: 10px; margin-bottom: 16px;">
                    <div class="centered" style="width: 100%; height: 60%; font-size: 22px; padding-bottom: 10px; text-align: center;">
                        {{ current_computer.name }}
                    </div>
                    <div class="centered" style="width: 80%; height: 40%; font-size: 15px; border-top: 1px solid black; padding-top: 16px; text-align: center;">
                        <div>{{current_computer.price}} руб.</div>
                    </div>
                </div>
                <div style="width: 100%; height: 465px;">
                    <div style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; width: calc(100% - 20px); height: calc(100% - 20px); padding-left: 9.2%;">
                        <div style="width: 100%; height: 82px; display: flex; flex-direction: column; padding: 3px;">
                            <div style="font-size: 14pt;">Процессор</div>
                            <div style="padding-left: 20px;">{{ current_computer.processor.manufacturer.name }} {{ current_computer.processor.series }} {{ current_computer.processor.model }}</div>
                            <div style="padding-left: 20px;">{{ current_computer.processor.cores }} ядер / {{ current_computer.processor.threads }} потоков / {{ current_computer.processor.frequency }} МГц</div>
                        </div>
                        <div style="width: 100%; height: 58px; display: flex; flex-direction: column; padding: 3px;">
                            <div style="font-size: 14pt;">Материнская плата</div>
                            <div style="padding-left: 20px;">{{ current_computer.motherboard.manufacturer.name }} {{ current_computer.motherboard.model }}</div>
                        </div>
                        <div style="width: 100%; height: 82px; display: flex; flex-direction: column; padding: 3px;">
                            <div style="font-size: 14pt;">Видеокарта</div>
                            <div style="padding-left: 20px;">{{ current_computer.videocard.chip_manufacturer.name }} {{ current_computer.videocard.chip }}</div>
                            <div style="padding-left: 20px;">{{ current_computer.videocard.mem_volume }} Гб {{ current_computer.videocard.mem_type }}</div>                               
                        </div>
                        <div style="width: 100%; height: 58px; display: flex; flex-direction: column; padding: 3px;">
                            <div style="font-size: 14pt;">Оперативная память</div>
                            {% load custom_filters %}
                            <div style="padding-left: 20px;">{{ current_computer.memory.volume|mult:current_computer.memory_cnt }} Гб {{ current_computer.memory.mem_type }} {{ current_computer.memory.frequency }} МГц</div>
                        </div>
                        <div style="width: 100%; height: 58px; display: flex; flex-direction: column; padding: 3px;">
                            <div style="font-size: 14pt;">Блок питания</div>
                            <div style="padding-left: 20px;">{{ current_computer.powersupply.power }} Вт {{ current_computer.powersupply.certificate.name }}</div>
                        </div>
                        <div style="width: 100%; height: 58px; display: flex; flex-direction: column; padding: 3px;">
                            <div style="font-size: 14pt;">Корпус</div>
                            <div style="padding-left: 20px;">{{ current_computer.case.typesize }} ({{ current_computer.case.width }}*{{ current_computer.case.height }}*{{ current_computer.case.length }}мм)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 100%; width: 60%; display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row; height: 35%; width: 100%;">
                <div style="display: flex; flex-direction: column; height: 100%; width: 30%;">
                    <div class="centered" style="width: 100%; min-height: 40px; height: 20%; font-size: 18px;">
                        {% if stage == 1 %}
                            Категория
                        {% else %}
                            {{ category }}
                        {% endif %}
                    </div>
                    <div style="width: 100%; min-height: 40px; height: 80%; overflow-y: scroll;">
                        {% for cat in categories %}
                            <form method="GET" action="{% url 'assembly_analysis' %}" style="padding-top: 5px; display: flex; flex-direction: column; align-items: center;">
                                {% csrf_token %}
                                <input type="hidden" name="category" value="{{ cat }}">
                                <input style="width: calc(100% - 20px); height: 40px;" type="submit" value="{{ cat }}">
                            </form>
                        {% endfor %}
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; height: 100%; width: 30%;">
                    <div class="centered" style="width: 100%; min-height: 40px; height: 20%; font-size: 18px;">
                        {% if stage == 3 %}
                            {{ app.name }}
                        {% else %}
                            Приложение
                        {% endif %}
                    </div>
                    <div style="width: 100%; min-height: 40px; height: 80%; overflow-y: scroll;">
                        {% if stage != 1 %}
                            {% for app_ in apps %}
                                <form method="GET" action="{% url 'assembly_analysis' %}" style="padding-top: 5px; display: flex; flex-direction: column; align-items: center;">
                                    {% csrf_token %}
                                    <input type="hidden" name="category" value="{{ category }}">
                                    <input type="hidden" name="app" value="{{ app_.id }}">
                                    <input style="width: calc(100% - 20px); height: 40px;" type="submit" value="{{ app_.name }}">
                                </form>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; height: 100%; width: 40%;">
                    {% if stage == 3 %}
                        <div class="centered" style="width: 90%; height: 90%; background-image: url({{ app.icon.url }}); background-size: contain; background-repeat: no-repeat; background-position: center; margin: 20px;"></div>
                    {% endif %}
                </div>
            </div>
            <div style="height: 65%; width: 100%; display: grid; grid-template-columns: repeat(3, calc(100% / 3)); padding-bottom: 70px;">
                {% if stage == 3 %}
                    <div></div>
                    <div class="centered">Минимальные</div>
                    <div class="centered">Рекомендуемые</div>
                    <div class="centered">Процессор</div>
                    {% if minimal.processor %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    {% if recommended.processor %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    <div class="centered">Видеокарта</div>
                    {% if minimal.videocard %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    {% if recommended.videocard %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    <div class="centered">Оперативная память</div>
                    {% if minimal.memory %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    {% if recommended.memory %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    <div class="centered">Накопители</div>
                    {% if minimal.disc %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    {% if recommended.disc %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    <div class="centered">Итого</div>
                    {% if minimal.summary %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                    {% if recommended.summary %}
                        <div class="centered tick_field" ></div>
                    {% else %}
                        <div class="centered cross_field" ></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}