{% extends "base_template.html" %}

{% block content %}
    <div id="comp_content">
        <script>
            function showDropdown(element) {
                let timeout;
                element.style.height = element.scrollHeight + 'px';
                clearTimeout(timeout);
                timeout = setTimeout(() => element.style.height = 'auto', 250); // Должно совпадать с transition
            }
    
            function hideDropdown(element) {
                let timeout;
                clearTimeout(timeout);
                element.style.height = element.scrollHeight + 'px';
                timeout = setTimeout(() => element.style.height = 0, 0);
            }
    
            function dropDownBehaviour(trigger, list) {
                trigger.addEventListener("click", event => {
                    if (list.style.height === '0px') {
                        trigger.style.borderBottom = '1px solid black';
                        showDropdown(list);
                    } else {
                        trigger.style.borderBottom = 'none';
                        hideDropdown(list);
                    }
                });
            }
        </script>
        <div id="comp_filter_bar">
            {% block filters %}{% endblock %}
        </div>
        <div id="comp_list">
            {% block components %}{% endblock %}
            <div class="pagination">
                {% if page.has_previous %}
                    <a href="?{{ params }}&page=1" class="paginator_button">1</a>
                    {% if page.number > 2 %}
                        {% if page.previous_page_number > 2 %}
                            <a href="?{{ params }}&page={{ page.previous_page_number|add:"-1" }}" class="paginator_button">...</a> 
                        {% endif %}
                        <a href="?{{ params }}&page={{ page.previous_page_number }}" class="paginator_button">{{ page.previous_page_number }}</a> 
                    {% endif %}
                {% endif %}
        
                <span class="current">
                    <a class="paginator_button_selected">{{ page.number }}</a>
                </span>
        
                {% if page.has_next %}
                    {% if page.number < page.paginator.num_pages|add:"-1" %}
                        <a href="?{{ params }}&page={{ page.next_page_number }}" class="paginator_button">{{ page.next_page_number }}</a>
                        {% if page.next_page_number < page.paginator.num_pages|add:"-1" %}
                            <a href="?{{ params }}&page={{ page.next_page_number|add:"1" }}" class="paginator_button">...</a>
                        {% endif %}
                    {% endif %}
                    <a href="?{{ params }}&page={{ page.paginator.num_pages }}" class="paginator_button">{{ page.paginator.num_pages }}</a>
                {% endif %}
            </div>   
        </div>
    </div>
{% endblock %}