{% extends "base_component.html" %}

{% block filters %}
    <form method="GET" action="{% url 'select_powersupply' %}">
        {% csrf_token %}
        <input type="hidden" name="prev_params" value="{{ params }}">
        <div class="comp_filter">
            <div id="drop_btn_sort" style="width: 100%; height: 50px; display: flex; align-items: center; font-size: 18px;">
                <div style="width: 50px; height: 50px; background-image: url('/pc_configurator/media/icons/arrow_down.png'); background-size: 52%; background-position: center; background-repeat: no-repeat;"></div>
                Сортировка
            </div>
            <div id="drop_lst_sort" style="height: 0; transition: height 0.25s ease-out; overflow: hidden; width: 100%;">
                <div style="margin-top: 7px; padding-left: 7px;">
                    <input type="radio" id="sort_default" name="sort" value="default" checked="true">
                    <label for="sort_default">По умолчанию</label>
                </div>
                <div style="margin-top: 7px; padding-left: 7px;">
                    <input type="radio" id="sort_price_asc" name="sort" value="price_asc">
                    <label for="sort_price_asc">По цене ↑</label>
                </div>
                <div style="margin-top: 7px; padding-left: 7px;">
                    <input type="radio" id="sort_price_desc" name="sort" value="price_desc">
                    <label for="sort_price_desc">По цене ↓</label>
                </div>
            </div>
        </div>
        <div class="comp_filter">
            <div id="drop_btn_format" style="width: 100%; height: 50px; display: flex; align-items: center; font-size: 18px;">
                <div style="width: 50px; height: 50px; background-image: url('/pc_configurator/media/icons/arrow_down.png'); background-size: 52%; background-position: center; background-repeat: no-repeat;"></div>
                Формат
            </div>
            <div id="drop_lst_format" style="height: 0; transition: height 0.25s ease-out; overflow: hidden; width: 100%;">
                {% for typesize in typesizes %}
                    <div style="margin-top: 7px; padding-left: 7px;">
                        <input type="checkbox" id="{{typesize}}" name="typesize" value="{{typesize}}">
                        <label for="{{typesize}}">{{typesize}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <input type="submit" value="Применить">
        <a href="{% url 'select_powersupply' %}">Сбросить фильтры</a>
    </form>
    <script>
        dropDownBehaviour(document.getElementById('drop_btn_sort'), document.getElementById('drop_lst_sort'));
        dropDownBehaviour(document.getElementById('drop_btn_format'), document.getElementById('drop_lst_format'));
    </script>
{% endblock %}

{% block components %}
    {% for powersupply in page.object_list %}
        <div class="comp_body">
            <div class="comp_title">
                <div style="padding-top: 5px; padding-bottom: 5px; font-size: 16pt; font-weight: semi-bold;"> {{ powersupply.manufacturer.name }} {{ powersupply.model }} </div>
            </div>
            <div style="display: flex; flex-direction: row; padding-top: 10px; padding-bottom: 10px;">
                <div class="comp_img centered">
                    <img src="{{ powersupply.image.url }}" style="max-height: 220px; max-width: 220px; height: auto; width: auto; padding: 10px;">
                </div>
                <div class="comp_chars">
                    <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>Формат: {{ powersupply.typesize }}</div>
                    <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>Мощность: {{ powersupply.power }} Вт</div>
                    {% if powersupply.certificate %}
                        <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>Сертификат: {{ powersupply.certificate.name }}</div>
                    {% endif %}
                    {% load custom_filters %}
                    <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>PFC: {{ powersupply.pfc_act|pfc_output }}</div>
                    <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>Отсоединяемые кабели: {{ powersupply.modular_cables|bool_to_str }}</div>
                    <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>Коннекторы:</div>
                    {% for key in powersupply.connectors|get_json_keys %}
                        <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'> — {{ key }}: {{ powersupply.connectors|get_json_value:key }}</div>
                    {% endfor %}
                    {% if powersupply.length %}
                        <div style='padding-top: 7px; padding-left: 5px; font-size: 12pt;'>Длина: {{ powersupply.length }} мм</div>
                    {% endif %}
                </div>
                <div class="comp_add">
                    <div class="comp_price">
                        {{ powersupply.price }} ₽
                    </div>
                    <div class="comp_add_button_space">
                        <form method="POST" action="{% url 'add_powersupply' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ powersupply.id }}">
                            <input type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>     
    {% endfor %}
{% endblock %}