{% extends "base_component.html" %}

{% block filters %}
    <form method="GET" action="{% url 'select_cooler' %}">
        {% csrf_token %}
        <input type="hidden" name="prev_params" value="{{ params }}">
        <div class="comp_filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Сортировка
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 1;">
                    <input type="radio" id="sort_default" name="sort" value="default" checked="true">
                    <label for="sort_default">По умолчанию</label><br>
                    <input type="radio" id="sort_price_asc" name="sort" value="price_asc">
                    <label for="sort_price_asc">По цене ↑</label><br>
                    <input type="radio" id="sort_price_desc" name="sort" value="price_desc">
                    <label for="sort_price_desc">По цене ↓</label><br>
                </ul>
            </div>
        </div>
        <div class="comp_filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип охлаждения
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 1;">
                    {% for coolant in coolants %}
                        <input type="checkbox" id="{{coolant}}" name="coolant" value="{{coolant}}">
                        {% load custom_filters %}
                        <label for="{{coolant}}">{{coolant|coolant_output}}</label><br>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <input type="submit" value="Применить">
        <a href="{% url 'select_cooler' %}">Сбросить фильтры</a>
        
    </form>
{% endblock %}

{% block components %}
    {% for cooler in page.object_list %}
        <div class="comp_body">
            <div class="comp_title">
                <div style="padding-top: 5px; padding-bottom: 5px; font-size: 16pt; font-weight: semi-bold;"> {{ cooler.manufacturer.name }} {{ cooler.model }} </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <div class="comp_img centered">
                    <img src="{{ cooler.image.url }}" style="max-height: 220px; max-width: 220px; height: auto; width: auto; padding: 10px;">
                </div>
                <div class="comp_chars">
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Тип охлаждения: {{ cooler.coolant|coolant_output }}</div>
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt; white-space: pre-line;'>Сокеты: {{ cooler.sockets|array_output:32 }}</div>
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Мощность: {{ cooler.power }} Вт</div>
                    {% if cooler.connectors %}
                        <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Коннекторы: {{cooler.connectors}}</div>
                    {% endif %}    
                    {% if cooler.modular_joint %}
                        <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'> Модульное соединение: Да</div>
                    {% endif %}
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Высота: {{ cooler.height }} мм</div>
                    {% if cooler.radiator_size %}
                        <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'> Размер радиатора: {{ cooler.radiator_size }}</div>
                    {% endif %}          
                    <div style='padding: 5px; font-size: 12pt;'>Уровень шума: {{ cooler.noise_level }} дБ</div>
                </div>
                <div class="comp_add">
                    <div class="comp_price">
                        {{ cooler.price }} ₽
                    </div>
                    <div class="comp_add_button_space">
                        <form method="POST" action="{% url 'add_cooler' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ cooler.id }}">
                            <input type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>     
    {% endfor %}
{% endblock %}