{% extends "base_component.html" %}

{% block filters %}
    <form method="GET" action="{% url 'select_memory' %}">
        {% csrf_token %}
        <input type="hidden" name="prev_params" value="{{ params }}">
        <div class="comp_filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Сортировка
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 1;">
                    <input type="radio" id="sort_default" name="sort" value="default" checked="true">
                    <label for="sort_default">По умолчанию</label><br>
                    <input type="radio" id="sort_price_asc" name="sort" value="price_asc">
                    <label for="sort_price_asc">По цене ↑</label><br>
                    <input type="radio" id="sort_price_desc" name="sort" value="price_desc">
                    <label for="sort_price_desc">По цене ↓</label><br>
                </ul>
            </div>
        </div>
        <div class="comp_filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип памяти
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 1;">
                    {% for mem_type in types %}
                        <input type="checkbox" id="{{mem_type}}" name="mem_type" value="{{mem_type}}">
                        <label for="{{mem_type}}">{{mem_type}}</label><br>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <input type="submit" value="Применить">
        <a href="{% url 'select_memory' %}">Сбросить фильтры</a>
        
    </form>
{% endblock %}

{% block components %}
    {% for memory in page.object_list %}
        <div class="comp_body">
            <div class="comp_title">
                <div style="padding-top: 5px; padding-bottom: 5px; font-size: 16pt; font-weight: semi-bold;"> {{ memory.manufacturer.name }} {{ memory.model }} </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <div class="comp_img centered">
                    <img src="{{ memory.image.url }}" style="max-height: 220px; max-width: 220px; height: auto; width: auto; padding: 10px;">
                </div>
                <div class="comp_chars">
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Тип памяти: {{ memory.mem_type }}</div>
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Объём модуля: {{ memory.volume }} Гб</div>
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Тактовая частота: {{ memory.frequency }} МГц</div>
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Пропускная способность: {{ memory.bandwidth }} Мб/с</div>                    
                    <div style='padding: 5px; font-size: 12pt;'>Латентность: {{ memory.latency }}</div>
                </div>
                <div class="comp_add">
                    <div class="comp_price">
                        {{ memory.price }} ₽
                    </div>
                    <div class="comp_add_button_space">
                        <form method="POST" action="{% url 'add_memory' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ memory.id }}">
                            <input type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>     
    {% endfor %}
{% endblock %}