{% extends "base_component.html" %}

{% block filters %}
    <form method="GET" action="{% url 'select_disc' %}">
        {% csrf_token %}
        <input type="hidden" name="prev_params" value="{{ params }}">
        <div class="comp_filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Сортировка
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 1;">
                    <input type="radio" id="sort_default" name="sort" value="default" checked="true">
                    <label for="sort_default">По умолчанию</label><br>
                    <input type="radio" id="sort_price_asc" name="sort" value="price_asc">
                    <label for="sort_price_asc">По цене ↑</label><br>
                    <input type="radio" id="sort_price_desc" name="sort" value="price_desc">
                    <label for="sort_price_desc">По цене ↓</label><br>
                </ul>
            </div>
        </div>
        <div class="comp_filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 1;">
                    {% for type in types %}
                        <input type="checkbox" id="{{type.type.id}}" name="type" value="{{type.type.id}}">
                        <label for="{{type.type.id}}">{{type.type.name}}</label><br>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <input type="submit" value="Применить">
        <a href="{% url 'select_disc' %}">Сбросить фильтры</a>
        
    </form>
{% endblock %}

{% block components %}
    {% for disc in page.object_list %}
        <div class="comp_body">
            <div class="comp_title">
                <div style="padding-top: 5px; padding-bottom: 5px; font-size: 16pt; font-weight: semi-bold;"> {{ disc.manufacturer.name }} {{ disc.model }} </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <div class="comp_img centered">
                    <img src="{{ disc.image.url }}" style="max-height: 220px; max-width: 220px; height: auto; width: auto; padding: 10px;">
                </div>
                <div class="comp_chars">
                    <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Тип: {{ disc.type }}</div>
                    {% if disc.rd_speed %}
                        <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Скорость чтения: {{ disc.rd_speed }} Мб/с</div>
                    {% endif %}
                    {% if disc.wr_speed %}
                        <div style='padding-top: 5px; padding-left: 5px; font-size: 12pt;'>Скорость записи: {{ disc.wr_speed }} Мб/с</div>
                    {% endif %}  
                    <div style='padding: 5px; font-size: 12pt;'>Объём накопителя: {{ disc.volume }} Гб</div>
                </div>
                <div class="comp_add">
                    <div class="comp_price">
                        {{ disc.price }} ₽
                    </div>
                    <div class="comp_add_button_space">
                        <form method="POST" action="{% url 'add_disc' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ disc.id }}">
                            <input type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>     
    {% endfor %}
{% endblock %}