#navbar {
    width: 100%;
    height: 90px;
    background-color: #2E8A6C;  
    border-radius: 0px;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

#navbar:before {
    content: none;
}

#navbar:after {
    content: none;
}

#navbar_logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454545;
    max-width: 110px;
    width: auto;
    height: 90px;
}

#navbar_logo {
    max-width: 110px;
    max-height: 90px;
    width: auto;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

#configurator_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #FF9966;
    margin: 0px;
    padding: 0px;
}

.field {
    background-color: lightseagreen;
    flex-grow: 1;
    height: calc(100vh - 90px);
    min-width: min-content;
    min-height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#configurator_components_panel {
    width: 300px;
    background-color: brown;
    min-width: 500px;
}

#configurator_info_panel {
    width: 300px;
    background-color: greenyellow;
}

.component_light {
    position: fixed;
    background-color: #8ED4BD29;
    transition: 0.35s;
}

.component_light_hovered {
    position: fixed;
    background-color: #8ED4BD79;
    transition: 0.35s;
}

.component_dark {
    position: fixed;
    background-color: #FF996625;
    transition: 0.35s;
}

.component_dark_hovered {
    position: fixed;
    background-color: #FF9966AF;
    transition: 0.35s;
}

.component_add_button_light{
    width: 36px;
    height: 36px;
    position: fixed;
    border: 2px solid;
    border-radius: 18px;
    background-color: #8ED4BDA4;
    border: 2px solid #8ED4BDA4;
    transition: 0.35s;
}

.component_add_button_light_hovered{
    width: 36px;
    height: 36px;
    position: fixed;
    border: 2px solid;
    border-radius: 18px;
    background-color: #8ED4BD;
    border: 2px solid #2E8A6C;
    transition: 0.35s;
    
}

.component_add_button_dark{
    width: 36px;
    height: 36px;
    position: fixed;
    border: 2px solid;
    border-radius: 18px;
    background-color: #FF9966AF;
    border: 2px solid #454545;
    transition: 0.35s;
}

.component_add_button_dark_hovered{
    width: 36px;
    height: 36px;
    position: fixed;
    border: 2px solid;
    border-radius: 18px;
    background-color: #FF9966;
    border: 2px solid #454545;
    transition: 0.35s;
}
  
#motherboard {
    top: 69px;
    left: 26px;
    border-radius: 4px;
    width: 207px;
    height: 270px;
}

#motherboard_button {
    left: 214px;
    top: 52px;
}

#comp_content {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: max-content;
    min-height: calc(100vh - 90px);
}

#comp_filter_bar {
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    width: 400px;
}

#comp_list {
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 255, 0);
    width: calc(100% - 400px);
    justify-content: center;
    align-items: center;
}

.comp_filter{
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 40, 61);
    margin: 10px;
    padding: 10px;
}

.comp_filter_title {

}

.comp_filter_input{

}

.comp_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    min-width: 90%;
    max-width: calc(100% - 20px);
    background-color: aliceblue;
}

.comp_img {
    width: 250px;
    height: auto;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp_title {
    width: 100%;
    background-color: darkorchid;
    text-align: center;
}

.comp_chars {
    background-color: cornflowerblue;
    width: calc(100% - 250px - 200px);
    display: flex;
    flex-direction: column;
}

.comp_add {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    justify-content: space-between;
}

.comp_price {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(66, 140, 163);
    padding: 5px;
    font-size: 16pt;
}

.comp_add_button_space {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(189, 138, 45);
    padding: 5px;
}

.paginator_button {
    background-color: #f44336;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 1px;
}
.paginator_button:hover {
    background-color: #aa3a31;
    text-decoration: none;
    color: white;
}

.paginator_button_selected {
    background-color: #aa3a31;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 1px;
}
.paginator_button_selected:hover {
    background-color: #aa3a31;
    text-decoration: none;
    color: white;
}
